@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.custom_scroll::-webkit-scrollbar {
  height: 4px;
  width: 3px;
  border-radius: 6px;
}

.custom_scroll-layout::-webkit-scrollbar-thumb {
  @apply bg-[#2D1810] hover:bg-[#D4A762];
  border-radius: 16px;
}


::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#FDF6EC];
}